{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
    <style>
    .home-section {
        height: 100vh;
        background-image:linear-gradient(rgba(15,23,42,0.85), rgba(15,23,42,0.85)),
                url("{% static 'background/lms_background.avif' %}");

        background-size: cover;     
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 20px;
    }

    .home-content {
        max-width: 800px;
        color: white;
    }

    .home-content h1 {
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .home-content p {
        font-size: 18px;
        color: #cbd5f5;
        margin-bottom: 32px;
        line-height: 1.6;
    }

    .home-buttons a {
        padding: 14px 28px;
        border-radius: 8px;
        font-weight: 600;
        text-decoration: none;
        margin: 0 8px;
        display: inline-block;
    }

    .btn-primary {
        background: #3b82f6;
        color: white;
    }

    .btn-primary:hover {
        background: #2563eb;
    }

    .btn-secondary {
        border: 2px solid #3b82f6;
        color: #3b82f6;
    }

    .btn-secondary:hover {
        background: #3b82f6;
        color: white;
    }
    </style>
    <section class="home-section">
        <div class="home-content">
            <h1>EduLearn Solutions</h1>
            <p>
                EduLearn Solutions is a digital learning technology company focused on
                delivering scalable Learning Management Solutions for individuals,
                institutions, and organizations. Our platform enables structured
                content delivery, performance tracking, and efficient learning
                operations.
            </p>
    
            <div class="home-buttons">
                <a href="{% url 'register' %}" class="btn-primary">Get Started</a>
                <a href="{% url 'login' %}" class="btn-secondary">Login</a>
            </div>
        </div>
    </section>
{% endblock %}
    